<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>My Society Space</title>
    <meta name="description" content="" />
    <meta name="locale" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico?v=1" />

    <link href="./css/vendor/vendor.css" rel="stylesheet" />
    <link href="./css/global/styles/global.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body ng-app="mss" ng-controller="GlobalController as global" >
    
    <div class="wrapper" >
        <header class="home">
            <!-- <video style="width:100%;" autoplay loop muted>
                <source src="https://www.commonfloor.com/public/images/promos/59870ec142fa4/Tiara_(1).mp4" type="video/mp4" >
            </video> -->
            <div class="container">
                <div class="mast-head">
                    <h1><a href="#" class="logo" title="logo">My Society Space</a></h1>
                    <ul class="header-nav" ng-controller="LoginControler as ctrl">
                        <li>
                            <a href="#" ng-click="ctrl.showLogin = ctrl.showLogin ? false : true">Login</a>
                            <div class="login-overlay ng-hide" ng-show="ctrl.showLogin">
                                <h2>Login</h2>
                                <form name="login" >
                                    <input type="text" placeholder="username" name="username" />
                                    <input type="password" placeholder="Password" name="password" />
                                    <a href="#" class="frgt-lnk">forgot password</a>
                                    <a href="#" class="secondary--submit__button login-btn" ng-click="ctrl.login()">login</a>
                                </form>
                            </div>
                        </li>
                        <li><a href="#" class="register">Register</a></li>
                    </ul>
                    <div class="banner-text">
                        <h2>All your society needs in one space</h2>
                        <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus <br>
                           tincidunt. Duis leo. Sed fringilla mauris sit</p>
                    </div>
                </div>
            </div>
            <form class="search-form" ng-controller="SearchControler as ctrl" autocomplete="off">
                <input type="search" ng-model="ctrl.searchText" name="search" placeholder="What your looking for..">
                <span class="search-button">
                    <i class="material-icons search-btn"></i>
                </span>
                <div class="search-auto__complete" ng-show="ctrl.searchText.length > 2">
                    <ul>
                        <li ng-repeat="list in ctrl.filterdList = ( global.resultList | filter:ctrl.searchText )">
                            <a href="society-details.html?{{list.societyName}}" ng-bind="list.societyName"></a>
                        </li>
                        <li ng-if="!ctrl.filterdList.length">
                            this Society is not enrolled with us. click here to enroll.
                        </li>
                    </ul>
                </div>
            </form>
            
            <div class="blk-overlay"></div>
        </header>
        <div class="container gutter--top">
            <section class="enroll">
                All your society needs in one space. <a href="#" class="primary--submit__button">Enroll your society</a>
            </section>
            <section class="home-content">
                <div class="col-lg-4 bg-color__primary content-box">
                    <span class="small-head">what is</span>
                    <h3>Society Space</h3>
                    <p class="text-color__darkGreen">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit</p>
                    <p class="text-color__darkGreen">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit</p>
                    <a href="#" class="secondary--submit__button ">read more+</a>
                </div>
                <div class="col-lg-8 bg-color__primary-light content-box">
                        <span class="small-head">what is</span>
                        <h3>Society Space</h3>
                        <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit</p>
                        <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit</p>
                </div>
            </section>
            <section class="testimonial">
                <div class="testimonial-wrapper">
                    <div class="col-lg-3 text-align__center">
                        <img src="assets/images/testimonial.jpg" alt="Tesimonial" />
                    </div>
                    <div class="col-lg-9">
                        <span class="name text-color__blue">Rayees Nadukkandy</span><br>
                        <span class="tag">Creative Heads</span>
                        <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit</p>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="container display-flex has-bottom--border">
                <div class="col-lg-4 min-height has-right--border">
                    <span class="text-color__logo">Email Us</span> <br>
                    mysocietyspace@gmail.com
                </div>
                <div class="col-lg-4 has-right--border">
                    <span class="text-color__logo">Call Us</span> <br>
                    +91 90367274234 <br>
                    +91 90364758445
                </div>
                <div class="col-lg-4">
                    <span class="text-color__logo">Find Us</span> <br>
                    3rd Avenue, Upper East Side <br>
                    San Francisco
                </div>
            </div>
            <div class="container text-color__logo padding-15">
                <p>© 2017 my society space     |     Terms and Conditions</p>
            </div>
        </footer>
    </div>
    <div class="black-overlay"></div>
    <div class="overlay-wrapp" ng-controller="RegisterControler as ctrl">
        <header>
            <h2>Register</h2>
            <i class="close-icon material-icons "></i>
        </header>
        <div class="container">
            <form name="register" >
            <input type="hidden" value="member" name="userType" id="userType" />
            <fieldset>
                <div class="col-md-12">
                    <label for="societyName">Society Name</label>
                    <input name="societyName" ng-model="global.societyText" id="societyName" type="text" />
                    <div class="search-auto__complete" ng-show="global.societyText.length > 2">
                    <ul>
                        <li ng-repeat="list in global.filterdList = ( global.resultList | filter:global.societyText )">
                            <a href="#" ng-click="global.societyText = list.societyName " ng-bind="list.societyName"></a>
                        </li>
                        <li ng-if="!global.filterdList.length">
                            this Society is not enrolled with us. click here to enroll.
                        </li>
                    </ul>
                </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="col-md-6">
                    <label for="firstName">First Name</label>
                    <input name="firstName" id="firstName" type="text" required />
                </div>
                <div class="col-md-6">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" id="lastName" type="text" />
                </div>
            </fieldset>
            <fieldset>
                <div class="col-md-6">
                    <label for="emailAddress">Email Address</label>
                    <input name="emailAddress" id="emailAddress" type="email" required />
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber">Phone Number</label>
                    <input name="phoneNumber" id="phoneNumber" type="tel" required />
                </div>
            </fieldset>
            <fieldset>
                <div class="col-md-6">
                    <label for="password">Password</label>
                    <input name="password" id="password" type="password" required />
                </div>
                <div class="col-md-6">
                    <label for="cnfpassword">Confirm Password</label>
                    <input name="cnfpassword" id="cnfpassword" type="password" required />
                </div>
            </fieldset>
            <fieldset>
                <div class="col-md-12">
                    <label for="supportingDocument">Supporting Document</label>
                    <input name="supportingDocument" id="supportingDocument" type="file" />
                </div>
            </fieldset>
            <div class="col-md-12">
                <input type="submit" value="submit" class="btn registerBtn secondary--submit__button" />
            </div>
            </form>
        </div>
    </div>
    <script src="./js/vendor/vendor.js"></script>
    <script src="./js/global/global.js"></script>
    <script src="./js/components/search-autocomplete/search.js"></script>
    <script src="./js/components/login/login.js"></script>
    <script src="./js/components/register/register.js"></script>

</body>

</html>
