<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>My Society Space</title>
    <meta name="description" content="" />
    <meta name="locale" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico?v=1" />

    <link href="./css/vendor/vendor.css" rel="stylesheet" />
    <link href="./css/global/styles/global.css" rel="stylesheet" />
    <link href="./css/components/society-details/society-details.style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body ng-app="mss">
    
    <div class="wrapper">
        <header class="home" style="background-image: url(https://im.proptiger.com/1/640605/6/sowparnika-sanvi-elevation-710434.jpeg)">
            <!-- <video style="width:100%;" autoplay loop muted>
                <source src="https://www.commonfloor.com/public/images/promos/59870ec142fa4/Tiara_(1).mp4" type="video/mp4" >
            </video> -->
            <div class="container">
                <div class="mast-head">
                    <h1><a href="#" class="logo" title="logo">My Society Space</a></h1>
                    <ul class="header-nav" ng-controller="LoginControler as ctrl">
                        <li>
                            <a href="#" ng-click="ctrl.showLogin = ctrl.showLogin ? false : true">Login</a>
                            <div class="login-overlay ng-hide" ng-show="ctrl.showLogin">
                                <h2>Login</h2>
                                <form name="login">
                                    <input type="text" ng-model="ctrl.username" placeholder="username" name="username" />
                                    <input type="password" ng-model="ctrl.password" placeholder="Password" name="password" />
                                    <a href="#" class="frgt-lnk">forgot password</a>
                                    <a href="#" class="secondary--submit__button login-btn" ng-click="ctrl.login()">login</a>
                                </form>
                            </div>
                        </li>
                        <li><a href="#">Register</a></li>
                    </ul>
                    <div class="banner-text society-detail">
                        <h2>Sowparnika Sanvi</h2>
                        <p>Whitefield, Bangalore</p>
                    </div>
                </div>
            </div>
            <div class="blk-overlay"></div>
        </header>
        <div class="container gutter--top">
            <div class="society-intro">
                <div class="col-md-6">
                    <span class="tag">My Society Space</span>
                    <h1>Introducing <br> Sowparnika Sanvi</h1>
                    <p class="left-padding">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-6">
                    <div class="mapView right-padding">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.9496625039633!2d77.75542051437534!3d12.9750714408536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae0e081d991fbd%3A0x8b5835a86eb67fe6!2sSowparnika+Sanvi%2C+Vijay+Nagar%2C+Whitefield%2C+Bengaluru%2C+Karnataka+560066!5e0!3m2!1sen!2sin!4v1508247945404" width="100%" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="quick-view">
                        <div class="col-md-3 quick-info">
                            <h4>136</h4>
                            <span>Luxe Apartment</span>
                        </div>
                        <div class="col-md-3 quick-info">
                            <h4>136</h4>
                            <span>Luxe Apartment</span>
                        </div>
                        <div class="col-md-3 quick-info">
                            <h4>136</h4>
                            <span>Luxe Apartment</span>
                        </div>
                        <div class="col-md-3 quick-info">
                            <h4>136</h4>
                            <span>Luxe Apartment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="amenties">
            <div class="container">
                <div class="amenties-container">
                    <h3>Amenities</h3>
                    <ul class="list-item">
                        <li>
                            <span class="icon">
                                    <i class="material-icons">fitness_center</i>
                            </span>
                            Gymnasium
                        </li>
                        <li>
                            <span class="icon"></span>
                            Indoor Badminton Court
                        </li>
                        <li>
                            <span class="icon"></span>
                            Aerobics / Yoga Studio
                        </li>
                        <li>
                            <span class="icon"></span>
                            Table Tennis (2 nos.)
                        </li>
                        <li>
                            <span class="icon"></span>
                            Table Tennis (2 nos.)
                        </li>
                        <li>
                            <span class="icon"></span>
                            Table Tennis (2 nos.)
                        </li>
                        <li>
                            <span class="icon"></span>
                            Table Tennis (2 nos.)
                        </li>
                        <li>
                            <span class="icon"></span>
                            Table Tennis (2 nos.)
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="photoTour">
            <div class="container">
                <div class="phototour-container">
                    <h3>Photo tour</h3>
                    <div class="slider-container">
                        <img src="/assets/images/gallery.jpg" alt="img" >
                        <a class="button" href="#"></a>
                        <a class="button right" href="#"></a>
                    </div>
                </div>
            </div>

        </section>
        <section class="rentals">
            <div class="container">
                <div class="rentals-container">
                    <div class="col-md-4">
                        <div class="rental-house">
                            <div class="image-wrapper">
                                <img src="/assets/images/rental-house.jpg" alt="img" >
                                <div class="rental-quickInfo">
                                    <h5>2 BHK</h5>
                                    <span class="sqft">1230 SQFT</span>
                                    <h6>₹18K<span>/month</span> </h6>
                                    <span class="info">Deposit: ₹ 1 Lakh</span>
                                    <span class="info">Availability: from ₹ 1 Lakh</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        w
                    </div>
                    <div class="col-md-4">
                        ew
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container display-flex has-bottom--border">
                <div class="col-lg-4 min-height has-right--border">
                    <span class="text-color__logo">Email Us</span> <br>
                    mysocietyspace@gmail.com
                </div>
                <div class="col-lg-4 has-right--border">
                    <span class="text-color__logo">Call Us</span> <br>
                    +91 90367274234 <br>
                    +91 90364758445
                </div>
                <div class="col-lg-4">
                    <span class="text-color__logo">Find Us</span> <br>
                    3rd Avenue, Upper East Side <br>
                    San Francisco
                </div>
            </div>
            <div class="container text-color__logo padding-15">
                <p>© 2017 my society space     |     Terms and Conditions</p>
            </div>
        </footer>
    </div>

    <script src="./js/vendor/vendor.js"></script>
    <script src="./js/global/global.js"></script>
    <script src="./js/components/search-autocomplete/search.js"></script>
    <script src="./js/components/login/login.js"></script>

</body>

</html>
