<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>My Society Space</title>
    <meta name="description" content="" />
    <meta name="locale" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico?v=1" />

    <link href="./css/vendor/vendor.css" rel="stylesheet" />
    <link href="./css/global/styles/global.css" rel="stylesheet" />
    <link href="./css/components/society-details/society-details.style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body ng-app="mss">
    
    <div class="wrapper" ng-controller="SocietyDetailsController as society">
        <header class="home" style="background-image: url(https://im.proptiger.com/1/640605/6/sowparnika-sanvi-elevation-710434.jpeg)">
            <!-- <video style="width:100%;" autoplay loop muted>
                <source src="https://www.commonfloor.com/public/images/promos/59870ec142fa4/Tiara_(1).mp4" type="video/mp4" >
            </video> -->
            <div class="container">
                <div class="mast-head">
                    <h1><a href="#" class="logo" title="logo">My Society Space</a></h1>
                    <ul class="header-nav" ng-controller="LoginControler as ctrl">
                        <li>
                            <a href="#" ng-click="ctrl.showLogin = ctrl.showLogin ? false : true">Login</a>
                            <div class="login-overlay ng-hide" ng-show="ctrl.showLogin">
                                <h2>Login</h2>
                                <form name="login">
                                    <input type="text" ng-model="ctrl.username" placeholder="username" name="username" />
                                    <input type="password" ng-model="ctrl.password" placeholder="Password" name="password" />
                                    <a href="#" class="frgt-lnk">forgot password</a>
                                    <a href="#" class="secondary--submit__button login-btn" ng-click="ctrl.login()">login</a>
                                </form>
                            </div>
                        </li>
                        <li><a href="#">Register</a></li>
                    </ul>
                    <div class="banner-text society-detail">
                        <h2 ng-bind="society.societyDetails.societyName"></h2>
                        <p ng-bind="society.societyDetails.societyAddress1 +' '+ society.societyDetails.societyAddress2"></p>
                        <p ng-bind=" society.societyDetails.societyCity +' '+ society.societyDetails.societyState +' '+society.societyDetails.societyZip"></p>
                    </div>
                </div>
            </div>
            <div class="blk-overlay"></div>
        </header>
        <div class="container gutter--top">
            <div class="society-intro">
                <div class="col-md-6">
                    <span class="tag">My Society Space</span>
                    <h1>Introducing <br> {{society.societyDetails.societyName}} </h1>
                    <p class="left-padding" ng-bind="society.societyDetails.description"></p>
                </div>
                <div class="col-md-6">
                    <div class="mapView right-padding">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.9496625039633!2d77.75542051437534!3d12.9750714408536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae0e081d991fbd%3A0x8b5835a86eb67fe6!2sSowparnika+Sanvi%2C+Vijay+Nagar%2C+Whitefield%2C+Bengaluru%2C+Karnataka+560066!5e0!3m2!1sen!2sin!4v1508247945404" width="100%" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="quick-view">
                        <div class="col-md-3 quick-info">
                            <h4>216</h4>
                            <span>Flats</span>
                        </div>
                        <div class="col-md-3 quick-info">
                            <h4>5</h4>
                            <span>Bloack</span>
                        </div>
                        <div class="col-md-3 quick-info">
                            <h4>2012</h4>
                            <span>Since</span>
                        </div>
                        <div class="col-md-3 quick-info">
                            <h4>586</h4>
                            <span>MSS Members</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="amenties" ng-if="society.societyDetails.amenities.length > 0">
            <div class="container">
                <div class="amenties-container">
                    <h3>Amenities</h3>
                    <ul class="list-item">
                        <li ng-repeat="item in society.societyDetails.amenities">
                            <span class="icon">
                                <i class="{{item.amenityIcon}} fi"></i>
                            </span>
                            {{item.amenityName}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="photoTour">
            <div class="container">
                <div class="phototour-container">
                    <h3>Photo tour</h3>
                    <div class="slider-container">
                        <img src="/assets/images/gallery.jpg" alt="img" >
                        <a class="button" href="#"></a>
                        <a class="button right" href="#"></a>
                    </div>
                </div>
            </div>

        </section>
        <section class="rentals" ng-if="society.societyDetails.rentalHomes.length > 0">
            <div class="container">
                <div class="rentals-container">
                    <div class="col-md-4 rentalList" ng-repeat="item in society.societyDetails.rentalHomes">
                            <div class="rental-house">
                                    <div class="image-wrapper">
                                        <img src="/assets/images/rental-house.jpg" alt="img" >
                                        <div class="rental-quickInfo">
                                            <h5 ng-bind="item.houseType"></h5>
                                            <span class="sqft">{{item.squareFeet}} SQFT</span>
                                            <h6>₹{{item.rent}}<span>/month</span> </h6>
                                            <span class="info">Deposit: ₹ {{item.deposit}}</span>
                                            <span class="info">Availability: {{item.availablityFrom}}</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li class="half-width">Flat No : {{item.doorNumber}}</li>
                                        <li class="half-width">Block No : {{item.block}}</li>
                                        <li class="half-width">Facing : {{item.facing}}</li>
                                        <li class="half-width">Parking : {{item.parking}}</li>
                                        <li>Preference : {{item.preference}}</li>
                                        <li>Furnished: {{item.furnished}}</li>
                                    </ul>
                                    <a href="tel:{{item.ownerContact}}" class="btn button-secondary">+91 {{item.ownerContact}}</a>
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container display-flex has-bottom--border">
                <div class="col-lg-4 min-height has-right--border">
                    <span class="text-color__logo">Email Us</span> <br>
                    mysocietyspace@gmail.com
                </div>
                <div class="col-lg-4 has-right--border">
                    <span class="text-color__logo">Call Us</span> <br>
                    +91 90367274234 <br>
                    +91 90364758445
                </div>
                <div class="col-lg-4">
                    <span class="text-color__logo">Find Us</span> <br>
                    3rd Avenue, Upper East Side <br>
                    San Francisco
                </div>
            </div>
            <div class="container text-color__logo padding-15">
                <p>© 2017 my society space     |     Terms and Conditions</p>
            </div>
        </footer>
    </div>

    <script src="./js/vendor/vendor.js"></script>
    <script src="./js/global/global.js"></script>
    <script src="./js/components/search-autocomplete/search.js"></script>
    <script src="./js/components/login/login.js"></script>
    <script src="./js/components/society-details/society-details.js"></script>

</body>

</html>
