<div class="col-lg-10 col-md-12 col-sm-12 padding-zero accordion-section" ng-controller="AccordionController">
  <uib-accordion close-others="true">
    <div uib-accordion-group="" class="accordion--panel" is-open="true" internal-name="hereIsQuestion">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">How can HUMIRA complete help me?{{status.open}}</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group=""  class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What is a HUMIRA Ambassador?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting <a href="#hereIsQuestion" class="accordion-internal-link">HUMIRA</a> or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group=""  class="accordion--panel" is-open="true" internal-name="hereIsQuestionTwo">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What is HUMIRA and how does it work?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">How do I use HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">When should I use HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Can I use HUMIRA if I’m taking other medicines for my condition?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting <a href="#hereIsQuestionTwo" class="accordion-internal-link">HUMIRA</a> or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">How should I store HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Can I store HUMIRA at room temperature?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">My HUMIRA carton says that its “may be stored at room temperature." What is considered room temperature?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">How long can I store my HUMIRA Pen or prefilled syringe at room temperature?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Can I put my HUMIRA Pen or prefilled syringe back in the refrigerator after I've already taken it out and allowed it to reach room temperature?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What should I do if I have not used my unrefrigerated HUMIRA Pen or prefilled syringe within the 14-day period?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Should I record the date when I take my HUMIRA Pen or prefilled syringe out of the refrigerator?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Should I inject HUMIRA at room temperature?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Has HUMIRA changed now that I can leave it at room temperature?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">How often and for how long will I have to use HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Will HUMIRA cure my disease?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What should I do with my used Pen or syringe after I take HUMIRA? Can I reuse the needle?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What is the most important information I should know about HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">How will I know if I’m allergic to HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Are there any foods that interact with HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Can I drink alcohol when using HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Should I get a flu vaccination (“flu shot”) if I am taking HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Who shouldn’t use HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What information should I share with my doctor before starting HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="true">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">What are the possible side effects with HUMIRA?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting HUMIRA or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
    <div uib-accordion-group="" class="accordion--panel" is-open="false">
      <uib-accordion-heading>
        <span class="accordion--title text-color__blue">Can I use HUMIRA if I’m pregnant or breastfeeding?</span>
        <span class="accordion--plus-icon text-color__blue"><i class="material-icons"></i></span>
      </uib-accordion-heading>
      <p>Whether you’re just starting <a href="#hereIsQuestion" class="accordion-internal-link">HUMIRA</a> or have been continuing on treatment, HUMIRA Complete offers a range of services and tools to support you at no additional cost.
        You can choose the services and tools that are most useful to you, including: help with injections,
         on-call nurse support, medication reminders, the HUMIRA Complete Savings Card, and more.
       </p>
    </div>
  </uib-accordion>
</div>
