.material-icons {
  @include font-size(24);  /* Preferred icon size */
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  &.down-arrow {
    &:before {
      content: '\E5C5';
    }
  }

  &.up-arrow {
    &:before {
      content: '\E5C7';
    }
  }

  &.file-list {
    &:before {
      content: '\E896';
    }
  }

  &.nav-map {
    &:before {
      content: '\E55B';
    }
  }

  &.action-plus {
    &:before {
      content: '\E147';
    }
  }

  &.action-minus {
    &:before {
      content: '\E15C';
    }
  }

  &.map-marker {
    &:before {
      content: '\E55F';
    }
  }

  &.file-pdf {
    &:before {
      content: '\E415';
    }
  }

  &.format-quote {
    &:before {
      content: '\E244';
    }
  }

  &.location {
    &:before {
      content: '\E55F';
    }
  }

  &.checkbox-outline {
    &:before {
      content: '\E835';
    }
  }

  &.checkbox-selected {
    &:before {
      content: '\E834';
    }
  }

  &.radio-btn-checked {
    &:before {
      content: '\E837';
    }
  }

  &.radio-btn-unchecked {
    &:before {
      content: '\E836';
    }
  }

  &.search-btn {
    &:before {
      content: '\E8B6';
    }
  }

  &.home-icon {
    &:before {
      content: '\E88a';
    }
  }

  &.search-close {
    &:before {
      content: '\E5CD';
    }
  }

  &.tabs-icon {
    &:before {
      content: '\E838';
    }
  }

  &.keyboard-arrow-up {
    &:before {
      content: '\E316';
    }
  }

  &.keyboard-arrow-down {
    &:before {
      content: '\E5CF';
    }
  }

  &.close-icon {
    &:before {
      content: '\E5cd';
    }
  }

  &.picture-as-pdf {
    &:before {
      content: '\E415';
    }
  }

  &.person-icon {
    &:before {
      content: '\E7fd';
    }
  }

  &.menu-hamburger {
    &:before {
      content: '\E5d2';
    }
  }

  &.play-icon {
    &:before {
      content: '\E039';
    }
  }

  &.left-arrow {
    &:before {
      content: '\E314';
    }
  }

  &.right-arrow {
    &:before {
      content: '\E315';
    }
  }

  &.downward-arrow {
    &:before {
      content: '\E5DB';
    }
  }

  &.help-icon {
    &:before {
      content: '\E887';
    }
  }

  &.help-outline-icon {
    &:before {
      content: '\E8FD';
    }
  }

  &.info-icon {
    &:before {
      content: '\E88E';
    }
  }

  &.info-outline-icon {
    &:before {
      content: '\E88F';
    }
  }

  &.location-search-icon {
    &:before {
      content: '\E1B7';
    }
  }

  &.location-selected-icon {
    &:before {
      content: '\E55C';
    }
  }

  &.warning-icon {
    &:before {
      content: '\E002';
    }
  }

  &.add-icon {
    &:before {
      content: '\E145';
    }
  }

  &.remove-icon {
    &:before {
      content: '\E15B';
    }
  }

  &.add-circle-icon {
    &:before {
      content: '\E147';
    }
  }

  &.cancel-icon {
    &:before {
      content: '\E5C9';
    }
  }

  &.mood-icon {
    &:before {
      content: '\E7F2';
    }
  }

  &.mood-bad-icon {
    &:before {
      content: '\E7F3';
    }
  }

  &.sentiment-satisfied-icon {
    &:before {
      content: '\E813';
    }
  }

  &.sentiment-dissatisfied-icon {
    &:before {
      content: '\E811';
    }
  }

  &.upward-arrow {
    &:before {
      content: '\E5D8';
    }
  }

  &.zoom-in {
    &:before {
      content: '\E8ff';
    }
  }
}
