@import './_theme.humira';
@import './_mixins';
@import './_reset';
@import './_material-icons.scss';
@import './_buttons';
@import './_spinners';
@import './_tooltip';
@import './_home';

html,
body {
  background-color: $bg-body;
  color: $body-copy-color;
  font-family: $font-stack;
  @include font-size(16);
  line-height: 120%;
  font-weight: 400;
}

.wrapper{
  width: 100%;
  max-width: $large-max-width;
  margin: 0 auto;
}
.container{
  width: 100%;
  max-width: $container-max-width;
  position: relative;
  z-index: 1;
}

h1 {
  @include font-size( 26 );
  @include small {
    @include font-size( 21 );
  }
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  @include font-size( 22 );
  @include small {
    @include font-size( 20 );
  }
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  @include font-size( 18 );
  font-weight: 400;
  margin-bottom: 20px;
}

h4,
h5 {
  @include font-size( 18 );
  font-weight: 300;
  margin-bottom: 20px;
}

h6 {
  @include font-size( 16 );
  font-weight: 300;
  margin-bottom: 20px;
}


p {
  @include font-size( 16 );
  margin-bottom: 20px;
  width: 100%;
}

a {
  @include font-size( 16 );
  color: $link-color-primary;
  text-decoration: none;
  &:active {
    color: $link-color-primary-active;
    text-decoration: none;
  }

  &:hover {
    color: $link-color-primary-hover;
    text-decoration: none;
  }
}
.min-height{
  min-height: 150px;
}
.blk-overlay{
  background-color: rgba( 45, 58, 75, 0.5 );
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

//header section
header{
  width: 100%;
  position: relative;
  .mast-head{
    width: 100%;
    margin-top: 10px;

    .logo{
      width: 170px;
      height: 84px;
      background: url('/assets/images/logo.png') no-repeat;
      float: left;
      text-indent: -99999px;
    }
    .header-nav{
      width: auto;
      float: right;
      margin: 22px 0 0;
      padding: 10px 25px;
      background-color: $bg-primary;
      @include border-radius(5px);
      li{
        display: inline-block;
      }
    }
    .banner-text{
      width: 100%;
      float: left;
      margin: 95px 0 0;
      color: $text-color-logo;
      h2{
        font-weight: 300;
        @include font-size(36);
        margin-bottom: 10px;
      }
      p{
        color: $text-color-logo;
        font-weight: 300;
      }
    }
  }
  .search-form{
    width: 100%;
    position: absolute;
    bottom: -33px;
    left: 0;
    right: 0;
    margin: auto;
    width: 66%;
    z-index: 1;
    input{
      border: 0px;
      width: 100%;
      height: 65px;
      @include border-radius(5px);
      padding: 20px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(45,58,75,0.26);
      -moz-box-shadow: 0px 5px 5px 0px rgba(45,58,75,0.26);
      box-shadow: 0px 5px 5px 0px rgba(45,58,75,0.26);
      outline: none;
    }
    .search-button{
      position: absolute;
      right: 25px;
      top: 0;
      bottom: 0;
      height: 35px;
      width: 35px;
      margin: auto;
      color: #333;
      cursor: pointer;
      i{
        font-size: 35px;
      }
    }
  }
}

footer{
  width: 100%;
  background-color: $bg-secondary;
  padding: 100px 0 10px;
  color: $white;
  line-height: 24px;
}

.enroll{
  text-align: center;
}
.home-content{
  display: flex;
  margin: 40px 0;
  .content-box{
    padding: 35px 30px; 
    .small-head{
      font-size: 18px;
      font-weight: 300;
      color: $text-color-darkGreen;
    }
    h3{
      font-size: 36px;
      font-weight: 300;
      color: $text-color-darkGreen;
    }
  }
}


.testimonial{
  padding: 10px 0 50px;
}




.text-align__center{
  text-align: center;
}
// Headers, body copy , subheaders, font color theme
.text-color__black {
  color: $black !important;
}

.text-color__white {
  color: $white !important;
}

.text-color__plum {
  color: $text-color-plum !important;
}

.text-color__grey {
  color: $text-color-grey !important;
}

.text-color__activeGrey {
  color: $text-color-active-grey !important;
}

.text-color__hoverGrey {
  color: $text-color-hover-grey !important;
}

.text-color__softBlack {
  color: $text-color-soft-black !important;
}

.text-color__softGold {
  color: $text-color-softGold !important;
}

.text-color__gulfStream {
  color: $text-color-gulfStream !important;
}

.text-color__anzac {
  color: $text-color-anzac !important;
}

.text-color__blue {
  color: $text-color-blue !important;
}

.text-color__breakerBay {
  color: $text-color-breakerBay !important;
}

.text-color__easternBlue {
  color: $text-color-easternBlue !important;
}
.text-color__darkGreen{
  color: $text-color-darkGreen !important;
}
.text-color__logo{
  color: $text-color-logo !important;
}

// Border colors
.border-color__plum {
  border-color: $border-color-plum ;
}

.border-color__grey {
  border-color: $border-color-grey;
}

.border-color__lightGrey {
  border-color: $border-color-lighterGrey;
}

.border-color__activeGrey {
  border-color: $border-color-active-grey;
}

.border-color__gulfStream {
  border-color: $border-color-gulfStream;
}

.border-color__anzac {
  border-color: $border-color-anzac;
}

.border-color__blue {
  border-color: $border-color-blue;
}

.border-color__alto {
  border-color: $border-color-alto;
}

.border-color__mercury {
  border-color: $border-color-mercury;
}

.border-color__error {
  border-color: $form-bg-error;
}

.border-color__softGold {
  border-color: $bg-softGold;
}

.border-color__ocean {
  border-color: $bg-ocean;
}

.border-color__white {
  border-color: $white;
}

.border-color__breakerBay {
  border-color: $border-color-breakerBay;
}

.border-color__hoverGrey {
  border-color: $border-color-hover-grey;
}

.border-color__softBlack {
  border-color: $border-color-soft-black;
}

.border-color__agreeState {
  border-color: $border-color-agree-state;
}

.border-color__osloGray {
  border-color: $border-color-oslo-gray;
}

.border-right-logocolor{
  border: 1px solid $text-color-logo;
}
//background color


// link color theme
.link-color__blue {
  color: $link-color-blue;
}

.link-color__lightBlue {
  color: $link-color-lightBlue;
}

.link-color__hoverBlue {
  color: $link-color-hoverBlue;
}

.link-color__activeBlue {
  color: $link-color-activeBlue;
}

.link-color__neonPink {
  color: $link-color-neonPink;
}

// background colors
.bg-color__primary {
  background-color: $bg-primary;
}

.bg-color__primaryLight {
  background-color: $bg-primary-light;
}

.bg-color__altPrimary {
  background-color: $bg-alt-primary;
}

.bg-color__primary-light {
  background-color: $bg-primary-light;
}

.bg-color__altSecondary {
  background-color: $bg-alt-secondary;
}

.bg-color__secondary {
  background-color: $bg-secondary;
}

// background color theme
.bg-color__plum {
  background-color: $text-color-plum;
}

.bg-color__plum-transparent {
  background-color: $text-color-plum;
  background-color: transparentize( $text-color-plum, 0.5 );
}

.bg-color__concreteGray {
  background-color: $bg-concreteGray;
}

.bg-color__concreteGray-transparent {
  background-color: $bg-concreteGray;
  background-color: transparentize( $bg-concreteGray, 0.5 );
}

.bg-color__aquaHaze {
  background-color: $bg-aquaHaze;
}

.bg-color__aquaHaze-transparent {
  background-color: $bg-aquaHaze;
  background-color: transparentize( $bg-aquaHaze, 0.5 );
}

.bg-color__softGold {
  background-color: $bg-softGold;
}

.bg-color__softGold-transparent {
  background-color: $bg-softGold;
  background-color: transparentize( $bg-softGold, 0.5 );
}

.bg-color__alabaster {
  background-color: $bg-alabaster;
}

.bg-color__alabaster-transparent {
  background-color: $bg-alabaster;
  background-color: transparentize( $bg-alabaster, 0.5 );
}

.bg-color__fall {
  background-color: $bg-fall;
}

.bg-color__fall-transparent {
  background-color: $bg-fall;
  background-color: transparentize( $bg-fall, 0.5 );
}

.bg-color__ocean {
  background-color: $bg-ocean;
}

.bg-color__ocean-transparent {
  background-color: $bg-ocean;
  background-color: transparentize( $bg-ocean, 0.5 );
}

.bg-color__white {
  background-color: $white;
}

.bg-color__white-transparent {
  background-color: $white;
  background-color: transparentize( $white, 0.5 );
}

.bg-color__black {
  background-color: $black;
}

.bg-color__black-transparent {
  background-color: $black;
  background-color: transparentize( $black, 0.5 );
}

.bg-color__bonJour {
  background-color: $bg-bonJour;
}

.bg-color__bonJour-transparent {
  background-color: $bg-bonJour;
  background-color: transparentize( $bg-bonJour, 0.5 );
}

.bg-color__blackSqueeze {
  background-color: $bg-blackSqueeze;
}

.bg-color__blackSqueeze-transparent {
  background-color: $bg-blackSqueeze;
  background-color: transparentize( $bg-blackSqueeze, 0.5 );
}

.bg-color__blanchedAlmond {
  background-color: $bg-blanchedAlmond;
}

.bg-color__blanchedAlmond-transparent {
  background-color: $bg-blanchedAlmond;
  background-color: transparentize( $bg-blanchedAlmond, 0.5 );
}

.bg-color__pearlLusta {
  background-color: $bg-pearlLusta;
}

.bg-color__pearlLusta-transparent {
  background-color: $bg-pearlLusta;
  background-color: transparentize( $bg-pearlLusta, 0.5 );
}

.bg-color__vanillaIce {
  background-color: $bg-vanillaIce;
}

.bg-color__vanillaIce-transparent {
  background-color: $bg-vanillaIce;
  background-color: transparentize( $bg-vanillaIce, 0.5 );
}

.bg-color__athsSpecial {
  background-color: $bg-athsSpecial;
}

.bg-color__athsSpecial-transparent {
  background-color: $bg-athsSpecial;
  background-color: transparentize( $bg-athsSpecial, 0.5 );
}

.bg-color__albescentWhite {
  background-color: $bg-albescentWhite;
}

.bg-color__albescentWhite-transparent {
  background-color: $bg-albescentWhite;
  background-color: transparentize( $bg-albescentWhite, 0.5 );
}

.bg-color__snowWhite {
  background-color: $bg-snowWhite;
}

.bg-color__snowWhite-transparent {
  background-color: $bg-snowWhite;
  background-color: transparentize( $bg-snowWhite, 0.5 );
}

.bg-color__grey {
  background-color: $bg-alt-primary-color;
}

.bg-color__grey-transparent {
  background-color: $bg-alt-primary-color;
  background-color: transparentize( $bg-alt-primary-color, 0.5 );
}

.bg-color__stormGray {
  background-color: $bg-stormGray;
}

.bg-color__stormGray-transparent {
  background-color: $bg-stormGray;
  background-color: transparentize( $bg-stormGray, 0.5 );
}

.bg-color__lavenderBlush {
  background-color: $bg-lavenderBlush;
}

.bg-color__lavenderBlush-transparent {
  background-color: $bg-lavenderBlush;
  background-color: transparentize( $bg-lavenderBlush, 0.5 );
}

.bg-color__catskillWhite {
  background-color: $bg-catskillWhite;
}

.bg-color__catskillWhite-transparent {
  background-color: $bg-catskillWhite;
  background-color: transparentize( $bg-catskillWhite, 0.5 );
}

.bg-color__breakerBay {
  background-color: $bg-breakerBay;
}

.bg-color__breakerBay-transparent {
  background-color: $bg-breakerBay;
  background-color: transparentize( $bg-breakerBay, 0.5 );
}

.bg-color__bigStone {
  background-color: $bg-bigStone;
}

.bg-color__bigStone-transparent {
  background-color: $bg-bigStone;
  background-color: transparentize( $bg-bigStone, 0.5 );
}

.bg-color__aztec {
  background-color: $bg-aztec;
}

.bg-color__aztec-transparent {
  background-color: $bg-aztec;
  background-color: transparentize( $bg-aztec, 0.5 );
}


// Headers, body copy , subheaders, font color theme
.header-color-primary {
  color: $header-color-primary;
}

.text-color__primary {
  color: $text-color-primary;
}

.text-color__secondary {
  color: $text-color-secondary;
}

.text-color__secondary-active {
  color: $text-color-secondary-active;
}

.text-color__secondary-hover {
  color: $text-color-secondary-hover;
}

.text-color__altPrimary {
  color: $text-color-alt-primary;
}

// link color theme
.link-color__primary {
  color: $link-color-primary;
}

.link-color__primary-light {
  color: $link-color-primary-light;
}

.link-color__primary-hover {
  color: $link-color-primary-hover;
}

.link-color__primary-active {
  color: $link-color-primary-active;
}

.link-color__secondary {
  color: $link-color-secondary;
}

.gutter--top {
  margin-top: 50px;
}

.gutter--bottom {
  margin-bottom: 30px;
}

.gutter--top--15 {
  margin-top: 15px;
}

.gutter--bottom--15 {
  margin-bottom: 15px;
}

.gutter--top--25 {
  display: inline-block;
  margin-top: 25px;
}

.gutter--top--35 {
  display: inline-block;
  margin-top: 35px;
}

.gutter--bottom--medium {
  @include medium {
    margin-bottom: 30px;
  }
}

.gutter--bottom--mobile {
  @include small {
    margin-bottom: 30px;
  }
}

.vertical--center {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.has-border {
  border-style: solid;
  border-width: 1px;
}

.has-top--border {
  border-color: $border-color-lighter-grey;
  border-style: solid;
  border-top-width: 1px;
}

.has-bottom--border {
  border-bottom-width: 2px;
  border-color: $bg-primary;
  border-style: solid;
}

.has-right--border {
  border-right-width: 1px;
  border-color: $text-color-logo;
  border-style: solid;
}
// button styles
.btn {
  @include border-radius( 0 );

  &.btn--blue {
    background-color: $link-color-blue;
    border-color: $link-color-blue;
    color: $white;
  }

  &.btn--link-primary {
    background-color: $link-color-primary;
    border-color: $link-color-primary;
    color: $white;
  }

  &.btn--white {
    background-color: $white;
    border-color: $link-color-primary;
    color: $link-color-primary;
  }

  &.btn--primary {
    background-color: $header-color-primary;
    border-color: $header-color-primary;
    color: $white;
  }

  &.btn--secondary {
    background-color: $bg-primary-color;
    border-color: $link-color-primary;
    color: $white;
  }

  &.btn--alt-primary {
    background-color: $bg-alt-secondary-color;
    border-color: $link-color-primary;
    color: $link-color-primary;
  }
}

.image-full-width {
  img {
    width: 100%;
  }
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  @include small {
    padding-right: 0;
  }
  padding-left: 0;
}

.no-padding-right {
  @include small {
    padding-left: 0;
  }
  padding-right: 0;
}

.block-margin {
  margin: 20px 0;
}

.md-rotate-90 {
  -ms-transform: rotate( 90deg );
  -webkit-transform: rotate( 90deg );
  transform: rotate( 90deg );
}

.md-rotate-180 {
  -ms-transform: rotate( 180deg );
  -webkit-transform: rotate( 180deg );
  transform: rotate( 180deg );
}

.md-rotate-270 {
  -ms-transform: rotate( 270deg );
  -webkit-transform: rotate( 270deg );
  transform: rotate( 270deg );
}

.md-rotate-360 {
  -ms-transform: rotate( 360deg );
  -webkit-transform: rotate( 360deg );
  transform: rotate( 360deg );
}

.padding-zero {
  padding: 0;
}

.padding-15 {
  padding: 15px;
}

.image-component {
  max-width: 100%;
}

.non-clickable {
  cursor: default;
  pointer-events: none;
}

.no-display {
  display: none;
}

.no-border {
  border: 0 !important;
}

.error {
  @include font-size( 12 );
  color: $form-bg-error;
}

.link-right-arrow-icon {
  &:after {
    border-bottom: 5px solid transparent;
    border-left: 5px solid $link-color-blue;
    border-top: 5px solid transparent;
    content: '';
    display: inline-block;
    height: 0;
    margin-bottom: 1px;
    margin-left: 5px;
    width: 0;
    @include small {
      margin-bottom: -1px;
    }
  }
}

table {
  &.rte-table {
    border-collapse: separate;
    border-spacing: 15px 5px;

    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}


.display-flex {
  @include small {
    display: block;
  }
  @include medium {
    display: block;
  }
  display: flex;
  width: 100%;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}
.bottom-space-0 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.lineandspace {
  display: inline-block;
  width: 100%;

  hr {
    border-top: 1px solid $border-color-mercury;
    margin: 15px 0;
  }
}


.loading-spiner-holder {
  background-color: rgba( 0, 0, 0, 0.5 );
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .loading-spiner {
    background-color: $bg-loader-color;
    bottom: 0;
    height: 50px;
    left: 0;
    line-height: 30px;
    margin: auto;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
  }
}

.material-icons:focus {
  outline: 0;
}
.disabled {
  background-color: $bg-alt-primary-hover-color;
  border-color: $border-color-hover-grey;
}
