$bg-primary-color: rgba( 147, 8, 66, 0.6 );
$bg-primary-color-mobile: rgba( 147, 8, 66, 1 );
$bg-secondary-color: #11628f;
$bg-tertiary-color: #b11556;
$bg-alt-primary-color: #95d9db;
$bg-alt-secondary-color: #03618e;
